*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading1{
  text-align: center;
  background-color: #ff7720;
  padding: 12px 0;
  color: #fff;
}
.Card{
  background-color: #ff2a20;
  border-radius: 5px;
  box-shadow: 2px 4px 4px gray;
  width: 362px;
  padding: 15px;
  margin: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.heading2{
  text-align: center;
  font-size: 35px;
}
.heading4{
  margin: 10px 0;
  font-size: 18px;
}
.para{
  font-weight: bold;
}